---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="~/contact">
	<h3>get in touch:</h3>
	<p>
		<a href="https://github.com/ulfurloyd">github</a></br>
		<a href="https://linkedin.com/eklavyasood">linkedin</a></br>
		<a href="mailto:eklavyasood@gmail.com">mail</a></br>
	</p>
</Layout>
