---
import Layout from "../layouts/Layout.astro";
---


<Layout title="~">
	<h1>Eklavya Sood</h1>

	<p>
		I enjoy building Linux systems, automating infrastructure,
		and maintaining self-hosted services.
	</p>

	<p>
	my interests include:
	</p>

	<ul>
		<li>linux</li>
		<li>kubernetes</li>
		<li>self-hosting</li>
		<li>automation</li>
	</ul>

	<p>
	<a href="projects">~/projects</a><br>
	<a href="#">~/now</a><br>
	<a href="#">~/contact</a><br>
	</p>

</Layout>
