---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="~/now">
	<sub>last updated: june 2026</sub></br></br>

	currently:</br>
	<ul>
		<li>building this website</li>
		<li>tinkering with my homelab</li>
		<li>considering ansible automation for phoenyx</li>
		<li>learning more kubernetes</li>
	</ul>

	using:</br>
	<ul>
		<li><a href="https://cachyos.org">cachyos</a></li>
		<li><a href="https://github.com/niri-wm/niri">niri</a></li>
		<li><a href="https://github.com/noctalia-dev/noctalia">noctalia</a></li>
		<li><a href="https://github.com/neovim/neovim">neovim</a></li>
	</ul>
</Layout>
