---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="~/uses">
	<p>
	<h3>hardware</h3>
	<code>nyx</code>, my (aging) desktop</br>
	<code>hermes</code>, my laptop</br>

	<h3>software</h3>
	cachyos</br>
	niri</br>
	neovim</br>
	kitty</br>
	rmpc</br>

	<h3>infrastructure</h3>
	kubernetes</br>
	cloudflare r2</br>
</Layout>
