<nav>
	<a href="/">home</a>
	<a href="/projects">projects</a>
	<a href="/now">now</a>
	<a href="/contact">contact</a>
	<!-- <ul> -->
	<!-- 	<li><a href="/">home</a></li> -->
	<!-- 	<li><a href="/projects">projects</a></li> -->
	<!-- 	<li><a href="/now">now</a></li> -->
	<!-- 	<li><a href="/contact">contact</a></li> -->
	<!-- </ul> -->
</nav>
