---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const projects = await getCollection("projects");
	console.log(projects);

	return projects.map((project) => ({
		params: {
			slug: project.id,
		},
		props: {
			project,
		},
	}));
}

const { project } = Astro.props;

---

<Layout title={project.data.title}>
	<h1>{project.data.title}</h1>

	<p>{project.data.description}</p>

	<div set:html={project.rendered.html} />
</Layout>
