---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
---

<Layout title="~/projects">
	<h1>~/projects</h1>

	<h3>phoenyxlab</h3>
	<p>
	homelab kubernetes cluster</br>
	docker is easier but k3s is more fun</br>
	<a href="https://github.com/ulfurloyd/phoenyxlab">github</a>
	</p>

	<h3>phoenyx</h3>
	<p>
	arch linux dotfiles (cachyos)</br>
	declarative configuration is the one true religion</br>
	<a href="https://github.com/ulfurloyd/phoenyx">github</a>
	</p>
</Layout>
