---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");

projects.sort(
	(a, b) => a.data.order - b.data.order
);
---

<Layout
	title="~/projects"
	description="some of my personal projects"
>
	<h1>~/projects</h1>

	{
		projects.map((project) => (
			<article>
				<h2>
					<a href={`/projects/${project.id}`}>
						{project.data.title}
					</a>
				</h2>

				<p>{project.data.description}</p>
			</article>
		))
	}
</Layout>
